body {
    background-color: #FAFAFA;
}

#container {
    margin: 0px auto;
    padding: 50px 0px;
    width: 600px;
}

#header {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#header hr {
    margin-bottom: 25px;
    width: 50%;
}

.photo-thumbnail {
    background-color: white;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin: 10px;
    width: 180px;
}

.photo-overlay {
    background-color: #FFF;
    height: 100%;
    opacity: 0;
    width: 100%;

    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.photo-overlay:hover {
    opacity: 0.4;
}

#photo-viewer {
    display: none;
}
 
#photo-focus {
    left:50%;
    position: fixed;
    top:50%;
    transform: translate(-50%,-50%);
}

#photo-focus-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#photo-focus {
    height: auto;
    max-height: 80%;
    width: auto;
}

.icon {
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    padding: 10px;
    position: fixed;
    width: 16px;
}

.icon img {
    display: block;
    height: 16px;
    margin: 0 auto;
}

#close-icon {
    top: 50px;
    right: 50px;
}

#close-icon:hover {
    cursor: pointer;
}

#left-icon {
    left: 50px;
    top: 50%;
}

#right-icon {
    right: 50px;
    top: 50%;
}
